@keyframes activate {
    0% { background-image: linear-gradient(to right, darkblue, darkblue 0%, rgb(0, 0, 139, 0.3) 0%); }
    25% { background-image: linear-gradient(to right, darkblue, darkblue 25%, rgb(0, 0, 139, 0.3) 25%); }
    50% { background-image: linear-gradient(to right, darkblue, darkblue 50%, rgb(0, 0, 139, 0.3) 50%); }
    75% { background-image: linear-gradient(to right, darkblue, darkblue 75%, rgb(0, 0, 139, 0.3) 75%); }
    100% { background-image: linear-gradient(to right, darkblue, darkblue 100%, rgb(0, 0, 139, 0.3) 100%); color: darkblue;}
}

@keyframes deactivate {
    0% { background-image: linear-gradient(to right, darkblue, darkblue 100%, rgb(0, 0, 139, 0.3) 100%); color: rgba(0, 0, 139, 1);}
    25% { background-image: linear-gradient(to right, darkblue, darkblue 75%, rgb(0, 0, 139, 0.3) 75%); color: rgba(0, 0, 139, 0.7);}
    50% { background-image: linear-gradient(to right, darkblue, darkblue 50%, rgb(0, 0, 139, 0.3) 50%); color: rgba(0, 0, 139, 0.5);}
    75% { background-image: linear-gradient(to right, darkblue, darkblue 25%, rgb(0, 0, 139, 0.3) 25%); color: rgba(0, 0, 139, 0.2);}
    100% { background-image: linear-gradient(to right, darkblue, darkblue 0%, rgb(0, 0, 139, 0.3) 0%); color: rgba(0, 0, 139, 0.3);}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: darkblue;
}

.header {
    position: absolute;
    top: 0;
    margin: 1rem 5rem
}

.container {
    flex-grow: 1;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.section {
    display: flex;
}

.steps {
    display: flex;
    align-items: center;
}

.step {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: rgb(0, 0, 139, 0.3);
    color: rgb(0, 0, 139, 0.3);
}

.label {
    background-color: antiquewhite;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connector {
    width: 10rem;
    height: 4px;
    background-color: rgb(0, 0, 139, 0.3);
}

.step:first-child {
    background-color: rgb(0, 0, 139, 1);
    color: darkblue;
}

.connector-enabled {
    animation: activate 0.2s forwards;
    opacity: 1;
}


.step-enabled {
    animation: activate 0.2s forwards;
    animation-delay: 0.2s;
    opacity: 1;
}

.disabled {
    animation: deactivate 0.2s forwards;
    opacity: 1;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button {
    border: none;
    height: 4rem;
    width: 10rem;
    border-radius: 1.2rem;
    background-color: darkblue;
    color: aliceblue;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.button:disabled {
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}